/*RESET*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* dark mode user-agent-styles */
html {
    color-scheme: dark light;
}

/* min body height */
body {
    min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/*RESET*/

:root{
    font-family: sans-serif;
}

.wrapper > main {
    display: contents;
}


.wrapper > header {
   grid-area:  header;
   background-color:black;
   grid-column-start: 1;
   grid-column-end: 4;

width: 100%;
   
}


.wrapper > main >  h2 {
    grid-area:  title;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;


    background-color: #3DE07E;
    background-image: url(/assets/images/invisoNinja.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    padding: 1rem;
    height: 26rem;
}



.wrapper > main >  section.content  {
    grid-area:  content;
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    
}

.wrapper > main >  section.total {
    grid-area:  total;

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    background-color: black;
    color:white;
}

.wrapper > footer {
    padding: 3rem;
    grid-area:  footer;  
    padding-bottom: 6rem;
    background-color: #333333;
    color: white;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
}

.content{
    display: grid;
    grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
    grid-gap: 2rem;   
    padding: 3rem;
 
 
}

.content article{
    background-color: white;

}

.wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
 

footer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    li {
        text-align: center;
        list-style: none;
        font-size:medium;
        font-weight: bolder;
    }

    img {
        width: 1rem;
    }
}
footer>nav {
    display: contents;
}

footer>nav> ul {
    display: contents;
    h3{
        font-size: x-large;
        padding-bottom: 1rem;
    }
}

footer a {
    color:white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer>nav>ul>li:nth-child(3)>ul {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 1rem;
    margin-inline: auto;
    width: max-content;
}


.total {
    width: 100%;
    padding-inline:3rem;
    table {
        margin-top: 4rem;
        width: 100%;
        border: 0;
        border-collapse: collapse;

        td {
            padding: 0.5rem;
        }

        thead {
            background-color: #5a0507;
            color: #ffe0b7;

            td {
                padding: 0.25rem;
            }
        }



    }

    button {
        float:right ;
    }       
}

body {
    width: 80vw;
    margin-inline: auto;
}

button {
    margin-top: 1rem;
    background-color: #FC2452;
    color: white;
    padding: 0.5rem;
    padding-inline: 1rem;
    margin: 1rem;
    border: 0;
    border-radius: 0.25rem;
}