/*RESET*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* dark mode user-agent-styles */
html {
    color-scheme: dark light;
}

/* min body height */
body {
    min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/*RESET*/

:root {
    font-family: sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template: "header"
    "title" "title" "title"
    "content"
    "content"
    "content"
    "products" 
    "featuredProducts"
    "total"
    "footer";
}

.wrapper>main {
    display: contents;
}

.wrapper>header {
    grid-area: header;
    grid-column-start: span 4;
    
    grid-row: span 1;

    
    width: 100%;

    h1 {
        font-size: xxx-large;
        font-weight: bolder;
        text-align: center;
    }

    padding: 1rem;
    height: 26rem;
    background-color: #3DE07E;
    background-image: url(/assets/images/invisoNinja.png);
    background-position: bottom center;
    background-repeat: no-repeat;
}

.wrapper>main>h2 {
    grid-area: title;
    grid-column-start: span 4;


    padding-top: 1rem;
    padding-inline: 3rem;
    padding-bottom: 0;
    background-color: black;
    color: white;
    flex: 100%;
    font-size: x-large;
    font-weight: bolder;  
}

.wrapper>main>section.content {
    grid-area: content;
    background-color: black;
    grid-column-start: span 4;

   

}

.products
{
    grid-area: products; 
    background-color: black;
    grid-column-start: span 4;

    grid-row-start: span 3;
}

.featuredProducts{
    grid-area: featuredProducts;
    background-color: black;
    grid-column-start: span 4;
}



.wrapper>main>section.total {
    grid-area: total;
    grid-column-start: span 4;

    background-color: black;
    color: white;
}

.wrapper>footer {
    padding: 3rem;
    grid-area: footer;
    padding-bottom: 6rem;
    background-color: #333333;
    color: white;
    grid-column-start: span 4;

}


.content {
    display: grid;
    grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
    grid-gap: 2rem;
    padding: 3rem;
}

.products, .featuredProducts{    
    display: grid;
    grid-gap: 2rem;
    padding: 3rem;
    grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
}





main > .products {

    width:100%;
    display: grid;
    grid-template-columns: calc(33% - 1rem) calc(33% - 1rem) calc(33% - 1rem);
    grid-gap: 2rem;
    padding: 3rem;
}



.content article {
    background-color: white;
}




footer {
    display: grid;
    grid-template-columns: 33% 33% 33%;

    li {
        text-align: center;
        list-style: none;
        font-size: medium;
        font-weight: bolder;
    }

    img {
        width: 1rem;
    }
}

footer>nav {
    display: contents;
}

footer>nav>ul {
    display: contents;
    h3 {
        font-size: x-large;
        padding-bottom: 1rem;
    }
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer>nav>ul>li:nth-child(3)>ul {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 1rem;
    margin-inline: auto;
    width: max-content;
}

.total {
    width: 100%;
    padding-inline: 3rem;

    table {
        margin-top: 4rem;
        width: 100%;
        border: 0;
        border-collapse: collapse;

        td {
            padding: 0.5rem;
        }

        thead {
            background-color: #5a0507;
            color: #ffe0b7;

            td {
                padding: 0.25rem;
            }
        }
    }

    button {
        float: right;
    }
}

body {
    width: 80vw;
    margin-inline: auto;
}

button {
    margin-top: 1rem;
    background-color: #FC2452;
    color: white;
    padding: 0.5rem;
    padding-inline: 1rem;
    margin: 1rem;
    border: 0;
    border-radius: 0.25rem;
}

nav button {
    background-color: transparent;
}